li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Buttons')
    i.eos-icons.md-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/spec/97175094-6549-47cb-7706-250c75ebfe69-e126/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Buttons', target='_blank', rel='noreferrer')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/buttons.xd', data-event-category='Dropdown link', data-event-action='XD Download', data-event-label='Buttons', target='_blank', rel='noreferrer')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/Web%201920%20%E2%80%93%201.svg', data-event-category='Dropdown link', data-event-action='SVG Download', data-event-label='Buttons', target='_blank', rel='noreferrer')
    i.eos-icons.md-18
      | file_download
    | SVG file 1
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/Web%201920%20%E2%80%93%202.svg', data-event-category='Dropdown link', data-event-action='SVG Download 2', data-event-label='Buttons', target='_blank', rel='noreferrer')
    i.eos-icons.md-18
      | file_download
    | SVG file 2
