extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Design kit
      p.subheadline
        | All the pieces and components of the EOS Design System in one single file to
        | facilitate the creation of design files.
      hr
    article
      .row
        .col-md-6.col-12.text-center.margin-bottom-l
          p.margin-bottom-xxl
            |Download the Adobe XD file
          a.margin-top-xxl(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.xd', target='_blank', rel='noreferrer')
            img.responsive(src='/images/design-kit/xd-logo.svg', alt='Boostrap - decorative')

        .col-md-6.col-12.text-center
          p.margin-bottom-xxl
            | Download the .SVG file
          a.margin-top-xxl(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.svg', target='_blank', rel='noreferrer')
            img.responsive(src='/images/design-kit/inkscape_logo.svg', alt='Adobexd and Inkscape logos - decorative')

      p.margin-top-xxl
        | This design kit is only meant to be used as a reference for designers to be able to
        | create design mockups using the components defined in the EOS Design System. It
        | doesn’t contain all the information needed to implement EOS in a product (writing
        | guides, how to implement icons, implementing patterns…). You’ll find this information
        | across the different sections of this website.
      p
        | Do not modify any element of the design kit rather than names.
